html {/*coloco el color de fondeo al html*/
    background-color: rgb(221, 138, 83);
    
    
}
h1, h2, h4 {/*centrar el texto en el body*/
    text-align: center;
}
span{/*alinear la imagen (del span) con los demas elementos dentro del body*/
    margin: 0 450px 0 620px;

}
/*coloco padding y margenes para que se noten*/

ul {/*fondo de las listas desordenadasn y tamaño del relleno*/
    margin: 0 450px 0 450px;
    background-color: #879b2d;
    padding: 10px;
    /*border: 1px solid black;*/
}
li, p {/*color de fondeo la lista de items y el párrafo, tamaño y tipo de letra y un margen en negro*/
    background: rgb(237, 221, 252);
    border: 1px solid rgb(12, 8, 1);
    /*margin-left: : 220px;*/
    font: italic small-caps bold 16px/2;
}
video{/*alinear el video con los demas elementos dentro del body*/
    margin: 0 400px 0 550px;
}

footer{/*alinear el footer con los demas elementos dentro del body*/
    margin: 0 450px 0 550px;
}